* {
    margin : 0;
    padding: 0;
}

.container {
    width          : 100%;
    height         : 100vh;
    background     : linear-gradient(109.6deg, rgb(9, 9, 121) 11.2%, rgb(144, 6, 161) 53.7%, rgb(0, 212, 255) 100.2%);
    display        : flex;
    align-items    : center;
    justify-content: center;

    .box {
        width           : fit-content;
        height          : auto;
        background-color: #fff;
        opacity         : 1;
        border-radius   : 16px;
        display         : flex;
        flex-direction  : column;

        .create-key {
            margin: 10px 15px;

            fieldset {
                width        : 100%;
                border-radius: 10px;
            }

            .text {
                text-align: center;
                margin-top: 3px;
            }

            .content {
                display        : flex;
                margin-top     : 5px;
                align-items    : center;
                justify-content: center;

                .text-item {
                    width      : 40%;
                    margin-left: 20px;
                }

                .input-var {
                    input {
                        outline: none;
                        padding: 1px;
                    }
                }
            }

            .button {
                display        : flex;
                align-items    : center;
                justify-content: center;
                margin         : 7px 0px;

                .btn-options {
                    margin-left: 10px;

                    input {
                        width : 140px;
                        height: 25px;
                    }
                }
            }
        }

        .signature {
            display: flex;

            .confirm-key {
                margin        : 10px 10px;
                display       : flex;
                width         : 50%;
                flex-direction: column;

                fieldset {
                    border-radius: 10px;
                    width        : 100%;
                }

                .content {
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    margin-top     : 5px;

                    .text-content {
                        width: 30%;
                    }

                    .input-var {
                        input {
                            outline: none;
                            padding: 3px;
                        }
                    }

                }

                .text {
                    text-align    : center;
                    margin-top    : 3px;
                    display       : flex;
                    flex-direction: column;

                    .text-head {
                        margin-top: 5px;
                    }

                    .file-preview {
                        width: 100%;

                        textarea {
                            resize : none;
                            padding: 5px;
                            width  : 90%;
                        }
                    }

                    .input-file {
                        text-align   : left;
                        //margin-left: 20px;
                        margin-top   : 5px;

                        display        : flex;
                        align-items    : center;
                        justify-content: center;

                        #inputFile {
                            width: 60%;
                        }

                        #showPreview {
                            height : 22px;
                            padding: 1px 6px;
                        }
                    }
                }

                .input-content {
                    text-align    : center;
                    margin-top    : 3px;
                    display       : flex;
                    flex-direction: column;

                    .input-message {
                        textarea {
                            resize : none;
                            padding: 5px;
                            width  : 86%;
                            outline: none;
                            height : 50px;
                        }
                    }

                    .input-btn {
                        margin-top: 5px;

                        button {
                            height       : 25px;
                            width        : 90px;
                            margin-left  : 5px;
                            margin-bottom: 5px;
                        }

                    }
                }
            }

            .check {
                margin        : 10px 10px;
                display       : flex;
                width         : 50%;
                flex-direction: column;

                fieldset {
                    border-radius: 10px;
                    width        : 100%;
                }

                .content {
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    margin-top     : 5px;

                    .text-content {
                        width: 30%;
                    }

                    .input-var {
                        input {
                            outline: none;
                            padding: 3px;
                        }
                    }

                }

                .text {
                    text-align    : center;
                    margin-top    : 3px;
                    display       : flex;
                    flex-direction: column;

                    .text-head {
                        margin-top: 5px;
                    }

                    .file-preview {
                        width: 100%;

                        textarea {
                            resize : none;
                            padding: 5px;
                            width  : 90%;
                        }
                    }

                    .input-file {
                        text-align   : left;
                        //margin-left: 20px;
                        margin-top   : 5px;

                        display        : flex;
                        align-items    : center;
                        justify-content: center;

                        #selected-file {
                            width: 60%;
                        }

                        #showPreview-after {
                            height : 22px;
                            padding: 1px 6px;
                        }
                    }
                }

                .input-content {
                    text-align    : center;
                    margin-top    : 3px;
                    display       : flex;
                    flex-direction: column;

                    .input-message {
                        textarea {
                            //display: none;
                            resize : none;
                            padding: 5px;
                            width  : 86%;
                            outline: none;
                            height : 50px;
                        }
                    }

                    .input-btn {
                        margin-top: 5px;

                        button {
                            height       : 25px;
                            width        : 90px;
                            margin-left  : 5px;
                            margin-bottom: 5px;
                        }

                    }
                }
            }
        }
    }
}