@font-face {
    font-family: 'mountains_of_christmasregular';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff2') format('woff2'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35984/mountainsofchristmas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  
  background: linear-gradient(180deg, rgb(24, 15, 15) 0%, rgb(29, 9, 9) 100%);
  overflow: hidden;
    display: flex;
  align-items: center;
  justify-content: center; 
}
.snowverlay {
  /* 	Position depending how you want it to behave on scroll */
    position: absolute;  
  /* 	position: fixed; */
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    pointer-events: none;
    z-index: 9999999;
  }
body,
html {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: column;
}


svg{
  width:90%;
  height:90%;
  visibility:hidden;
 
}

.sparkle{
  /* mix-blend-mode:luminosity */
}
#endMessage{
  font-family: mountains_of_christmasregular;
  font-size: 2rem;
  text-anchor: middle;
  text-align: center;
  fill: #FFFFFF;
  color: #FFFFFF;
  opacity:0;
  letter-spacing: 1px;
}
.font{
  font-family: mountains_of_christmasregular;
  text-anchor: middle;
  text-align: center;
  fill: #FFFFFF;
  color: #FFFFFF;
  letter-spacing: 1px;
}

a {
  color: white;
  text-decoration: underline dotted #FFFFFF;
}
a:visited {
  color: red;
  
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 16px;
}

nav a {
  text-decoration: none;
  font-size: 24px;
  color: #909090;
}

.social_links {
  position: fixed;
  bottom: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.social_links a {
  color: inherit;
  font-size: 32px;
}

h1 {
  margin-bottom: 80px;
  font-size: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
}

ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: mountains_of_christmasregular;
  text-anchor: middle;
  text-align: center;
  fill: #FFFFFF;
  color: #FFFFFF;
  letter-spacing: 1px;
}

li span {
  display: block;
  font-size: 96px;
  color: #f41b4b;
}

li.seperator {
  margin: 0 10px;
  font-size: 96px;
  line-height: 1;
  color: #fff;
}

li:first-of-type {
  margin-right: 80px;
}
